<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Dashboard</title>
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/index.css">
<link rel="icon" type="image/png" href="/img/logo-closed.png">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
	<div th:replace="fragmentos/frag :: cabecalho"></div>
	
    <!--Container -->
    <div class="container-fluid mt-4">
		
		<!-- Search Bar -->
		<div class="row">
		    <!-- User Profile and Notifications -->
		    <div class="col-md-12 notifications-search d-flex justify-content-end align-items-center">
		        <!-- Search Box -->
		        <div class="right-aligned-search ml-3" style="max-width: 500px;">
		            <div class="input-group mb-3">
		                <input type="text" class="form-control" placeholder="Search...">
		                <div class="input-group-append">
		                    <button class="btn btn-outline-secondary" style="border: none;" type="button">
		                        <i class="fas fa-search"></i>
		                    </button>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Home -->
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
